PORT=3000

CORS_ORIGIN=*

MONGODB_URI=mongodb+srv://aksy:<password>@cluster0.badmdet.mongodb.net

CLOUDINARY_CLOUD_NAME=<NAME>
CLOUDINARY_API_KEY=<KEY>
CLOUDINARY_API_SECRET=<SECRET>

REFRESH_TOKEN_SECRET=<SHA256KEY>
REFRESH_TOKEN_EXPIRY=30d

ACCESS_TOKEN_SECRET=<SHA256KEY>
ACCESS_TOKEN_EXPIRY=1d
